<div class="row loginWrapper">
	<div class="col-md-7 center">
		<img src="images/chef-infographic.jpg">
	</div>
	<div class="col-md-5">
		<div class="login-form">
			<div class="row">
				<div class="col-md-12">
					<label>Email ID</label>
					<input type="text" class="form-control" aria-label="" placeholder="Your Email" ng-model="user.email" autocomplete="off">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Password</label>
					<input type="password" class="form-control" aria-label="" placeholder="Your Password" ng-model="user.password" autocomplete="off">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn csButton" ng-click="login();">Login</button>
				</div>
			</div> 
		</div>
	</div>
</div>