/* ==================== VARIABLES ==================== */
/* ==================== VARIABLES <--END--> ==================== */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.center {
  text-align: center; }

.csButton {
  background-color: #EC6862;
  border-radius: 0 !important;
  border-color: #EC6862 !important;
  padding: 1rem 4rem !important;
  font-size: 1.5rem !important;
  color: white; }
  .csButton:hover, .csButton:active, .csButton:target, .csButton:focus {
    background-color: #EC6862;
    border-color: #EC6862;
    color: white !important;
    outline: 0 !important; }

.loginWrapper {
  /*height: 100vh;*/
  /*background-color: red;*/
  padding: 10rem; }
  .loginWrapper img {
    height: 40rem; }
  .loginWrapper input {
    width: 70%;
    height: 4rem;
    margin-bottom: 2rem;
    border-radius: 0; }
  .loginWrapper label {
    font-weight: 200; }

.signUpWrapper {
  /*height: 100vh;*/
  /*background-color: red;*/
  padding: 10rem; }
  .signUpWrapper img {
    height: 40rem; }
  .signUpWrapper input {
    width: 70%;
    height: 4rem;
    margin-bottom: 2rem;
    border-radius: 0; }
  .signUpWrapper label {
    font-weight: 200; }

.csAlertWrapper {
  position: absolute;
  width: 40%;
  z-index: 99999999999;
  left: 0;
  opacity: .96;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  top: 5rem;
  display: flex;
  align-items: center;
  border-radius: 0 !important; }
